body,html{
    height:100%;
    margin:0;
    padding:0;
    background: white;
    font-family: sans-serif;
}

.img1{
    position: relative;
    height: 300px;
    overflow: hidden;
    background: url(images/img1.jpg) no-repeat center;
    background-size: contain;
}

.img2{
    position: relative;
    height: 300px;
    overflow: hidden;
    background: url(images/img4-1.jpg) no-repeat center;
    background-size: contain;
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color:white;
    
}

.container h1{
    font-weight: 700;
}

.nav_bar2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 38, 116);
    padding : 30px 12px;
}

.nav_bar2 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
    font-weight: 700;
}

.nav_bar2 a::after{
    content: "";
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 4px;
    background: white;
    transition: all .5s ease-out;
}

.nav_bar2 a:hover::after{
    width:100%;
}

.content{
    text-align: center;
}

.content button{
    width:120px;
    height:40px;
    font-size:16px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.content button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.content ul {
    list-style: none; 
    display: flex; 
    justify-content: center;
}

.content ul li{
    float:left; 
    padding: 0px 10px;
}

.pic .pic2{
    display: flex;
    justify-content:center;
}

.pic img{
    width: 100vh;
}

.pic2 img{
    width: 67vh;
}
