@import "header.css";
@import "index/section1.css";
@import "index/section2.css";
@import "index/section3.css";
@import "index/section4.css";
@import "footer.css";
@import "notice/notice.css";
@import "program/program.css";
@import "imgupload/picture.css";
@import "imgupload/picturehome.css";
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  background: url("https://static.gabia.com/fonts/project/image/noise_bg.png");
}
a {
  color: black;
  text-decoration: none;
}
.view {
  position: relative;
  height: 500vh;
}
section {
  height: 25%;
  position: relative;
}
.container{
  height: 150vh;
}
.hidden{
  display: none;
}