.container{
    height: 120vh;
}
.main-content{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
}
.nav-bar{
    position: relative;
}
.nav-bar img{
  width: 100%;
  vertical-align: bottom;
}
.img-title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white;
  font-size: 2.7em;
}
.nav-bar__select{
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}
.select-icon1,
.select-icon2{
  padding: 30px 50px;
}
.main-content__info{
  height: 60vh;
  background-color: white;
}